    * {
        margin: 0;
        padding: 0;
    }

    .container-block {
        max-width: 100%;
        width: 100%;
    }

    .fisrt-container {
        padding-top: 57px;
        background-color: #F3C6BD;
    }

    .navigation {
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }

    .block-text h1 {
        z-index: 1;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        color: #2B292D;
    }

    .block-text p {
        z-index: 1;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
    }

    .ouch {
        position: relative;
    }

    .ouch::after {
        z-index: 0;
        content: '';
        position: absolute;
        background-image: url('../img/ouch.png');
        width: 141%;
        height: 100%;
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        left: -41%;
    }

    .buttons {
        width: 328px;
        height: 48px;
        display: flex;
        justify-content: space-between;
    }

    .started {
        width: 160px;
        height: 48px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 3px;
    }

    .button {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 13px;
        color: #FFFFFF;
    }

    .start-white {
        width: 160px;
        height: 48px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 3px;
    }

    .button-white {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 13px;
        color: #3040C4;
    }

    .start {
        margin-left: 5%;
        width: 160px;
        height: 48px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 3px;
    }

    .promo {
        display: flex;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
    }

    .block-text {
        display: grid;
        row-gap: 60px;
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .panel {
        width: auto;
        height: 25px;
        word-spacing: 25px;
    }

    .panel ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .panel a {
        text-decoration: none;
        list-style: none;
        font-family: Work Sans;
        font-style: normal;
        font-size: 18px;
        line-height: 25px;
    }

    .panel a:hover {
        text-decoration: none;
        font-weight: bold;
        color: #2B292D;
    }

    .panel li {
        display: inline-block;
    }

    .panel li>ul {
        display: none;
    }

    .panel li:hover>ul {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 29px 45px rgba(0, 0, 0, 0.08), 0px 11px 55px rgba(0, 0, 0, 0.07);
        width: 260px;
        border-radius: 8px;
        z-index: 1;
        word-spacing: 0.5px;
        padding: 20px;
        line-height: 50px;
    }

    .panel li>ul {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #2B292D;
    }

    .panel li>ul a {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #2B292D;
        width: 250px;
        display: inline-block;
        padding: 5px 0;
    }

    .panel li>ul a:hover {
        color: #009B4D;
    }

    .panel li>ul ul {
        top: 40px;
        left: 250px;
    }

    .text2 {
        display: inline-block;
        padding-left: 15px;
    }

    .text2 p1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
    }

    .text2 p2 {
        color: rgba(43, 41, 45, 0.6);
    }

    .features-container {
        max-width: 100%;
    }

    .features {
        max-width: 1226px;
        margin: 0 auto;
        padding-top: 60px;
    }

    .block-content {
        text-align: center;
    }

    .features h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #2B292D;
        height: 112px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .text-3 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
    }

    .Invision {
        position: absolute;
        left: 60px;
        top: 15%;
    }

    .block-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
        min-height: 408px;
        padding-top: 50px;
        row-gap: 40px;
        margin-bottom: 100px;
    }

    .text-1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: #2B292D;
    }

    .intro {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #2B292D;
    }

    .Accordion {
        position: relative;
        max-width: 100%;
        height: 805px;
        background: #F4F5F7;
        overflow: hidden;
    }

    .contact-block h3 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        color: #009B4D;
    }

    .cta {
        position: relative;
        max-width: 100%;
    }

    .form {
        display: grid;
        row-gap: 20px;
        max-width: 545px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .text-4 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #2B292D;
        padding-top: 102px;
        padding-bottom: 60px;
    }

    .text-5 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #2C3241;
        padding-top: 60px;
    }

    .field {
        width: 554px;
        height: 41px;
        padding-left: 10px;
    }

    .field-1 {
        width: 554px;
        height: 160px;
        padding-left: 10px;
    }

    .but {
        position: relative;
        width: 100%;
        height: 48px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 3px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: #FFFFFF;
    }

    .trial {
        position: relative;
        max-width: 100%;
        height: 434px;
        background: #F4F5F7;
    }

    .trial h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.25px;
        color: #2B292D;
    }

    .trial p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
        color: #2B292D;
        height: 67px;
    }

    .mail {
        width: 350px;
        height: 50px;
    }

    .but-1 {
        width: 160px;
        height: 59px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 3px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: #FFFFFF;
    }

    .nomber-1 {
        display: flex;
        padding-left: 30px;
        justify-content: center;
        padding-top: 30px;
    }

    .tabl-1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: rgba(43, 41, 45, 0.6);
        list-style: none;
        padding-left: 100px;
    }

    .tabl-2 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: rgba(43, 41, 45, 0.6);
        list-style: none;
        padding-left: 100px;
    }

    .nom {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: #2B292D;
    }

    .social {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .social-container>div {
        padding: 10px;
    }

    .navigation>div:last-child {
        display: flex;
    }

    .panel-list {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        height: 48px;
        column-gap: 40px;
    }

    .Icon {
        display: flex;
    }

    .promo-1 .image {
        position: relative;
        height: inherit;
    }

    .promo-1 {
        display: grid;
        grid-template-columns: 4fr 3fr;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        align-items: center;
    }

    .contact-block>div img {
        margin-right: 10px;
    }

    .contact-block>div>div {
        display: flex;
        align-items: center;
    }

    .contact-block>div {
        display: grid;
        max-width: 555px;
        width: 100%;
        row-gap: 15px;
    }

    .ouch2 {
        position: absolute;
        top: 15%;
    }

    .sites-navigation {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        column-gap: 20px;
    }
